# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual env
.venv/
venv/
env/

# Environment variables
.env

# IDEs
.vscode/
.idea/

# Test/cache
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Build
build/
dist/
*.egg-info/

# Flask
instance/*
!instance/.gitignore
.webassets-cache